# Simulation outputs
*.vcd
*.vvp
*.vpd

# Build directories
build/
out/
obj/
docs/book

# Vivado
*.rpt
*.jou
*.log
*.str
*.xpe
*.xpr
*.cache/
.hw/
.ip_user_files/
.xil/


npu_python/__pycache__/
npu_python/venv/
